
{% load bootstrap4 %}
<div class="modal-dialog modal-lg swal2-show" role="document">
    <div class="modal-content">
        <h3 style="font-weight: bold;color: #6e6d6a;font-size: 1.85rem;">Nuevo Lugar Turístico</h3>
        <!-- id="form_agregar es llamado en main.js dentro de la funcion registrar" -->
        <form id="form_agregar" action="{% url 'templates_turismo:agregar_turismo'%}" class="form-contact contact_form" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <!-- div para mostrar errores 
                se llama el id="erroresAgregar desde la funcion mostrarErroresAgregar() que esta en main.js" -->
                <div id="erroresAgregar">   
                </div>
                <!-- fin mostrar errores -->
                <div class="row">
                    <div class="col-12">
                                    <div class="form-group">
                                         <h1 class="resaltar-input">{{ form.nombre.label}}: {{form.nombre}}</h1>
                                         
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <h1 class="resaltar-textarea">{{ form.descripcion.label}}: {{form.descripcion}}</h1>
                                    </div>
                                </div> 
                                 <div class="col-sm-6" >
                                    <div class="form-group">
                                        <h1 class="resaltar-input">{{ form.precio.label}}: {{form.precio}}</h1> 
                                        
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <h1 class="resaltar-input">{{ form.publico.label}}: {{form.publico}}</h1>   
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <h1 class="resaltar-input">{{ form.imagen.label }}: {{form.imagen}}</h1>

                                    </div>
                                </div>
                </div>
            </div>
        
             <div class="mi-footer-modal">
                <!-- mediante el onclick llamamos a la funcion registrarUsuario()
                que esta en el templates.js -->
                <button id="bloquear_button_agregar" class="btn btn-success" type="button" onclick="registrarTurismo();"><i class="fas fa-save"></i> Guardar</button>
                <button class="btn btn-danger" type="button" onclick="cerrar_modal_agregar();"><i class="far fa-times-circle"></i> Cancelar</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    //validar campos jquery validtor
  $(document).ready(function() {
    var habilitarButton = document.getElementById('bloquear_button_agregar');
    habilitarButton.disabled= true;


  $("#form_agregar").validate({
   rules: {
      precio: { required:true, min: 0.1},
    },
    messages : {
      nombre : {
        required : "Este campo es requerido",
      },
      descripcion : {
        required : "Este campo es requerido",
      },
      precio : {
        required : "Este campo es requerido",
        min: "Por favor, ingresa un valor mayor o igual a 0.1"
      },
      imagen : {
        required : "Este campo es requerido",
      }
    },
    submitHandler: function(form) {
        form.submit();
    },
    onkeyup: function( element, event ) {
        if ( event.which === 9 && this.elementValue(element) === "" ) {
            return;
        } else if ( element.name in this.submitted || element === this.lastElement ) {
            this.element(element);
        }

        this.checkForm();

        if (this.valid()) { // checks form for validity
            $('#bloquear_button_agregar').prop('disabled', false);  
       // enables button
        } else {
            $('#bloquear_button_agregar').prop('disabled', 'disabled');   // disables button
        }
    },
    onclick: function( element ) {
        // click on selects, radiobuttons and checkboxes
        if ( element.name in this.submitted ) {
            this.element(element);

        // or option elements, check parent select in that case
        } else if ( element.parentNode.name in this.submitted ) {
            this.element(element.parentNode);
        }

        this.checkForm();

        if (this.valid()) { // checks form for validity
            $('#bloquear_button_agregar').prop('disabled', false);          // enables button
        } else {
            $('#bloquear_button_agregar').prop('disabled', 'disabled');     // disables button
        }
    }
  

  });

});
</script>