
.total{
	background-color: #118585;
	height: 30px;
	border-radius: 20px;
	padding-top: 3px;
	margin-right: 10px;
	margin-top: 10px;
}
.total span{
	color: #fff;
	margin-left: 12px;
	top: 100px;
	font-weight: bold;
	padding-right: 5px;
}
.t-sin-confirmar{
	background-color: #A70000;
	height: 30px;
	border-radius: 20px;
	padding-top: 3px;
	margin-right: 10px;
	margin-top: 10px;
}
.t-sin-confirmar span{
	color: #fff;
	margin-left: 12px;
	top: 100px;
	font-weight: bold;
	padding-right: 5px;
}
.t-aceptados{
	background-color: #179107;
	height: 30px;
	border-radius: 20px;
	padding-top: 3px;
	margin-right: 10px;
	margin-top: 10px;

}
.t-aceptados span{
	color: #fff;
	margin-left: 12px;
	top: 100px;
	font-weight: bold;
	padding-right: 5px;
}

.t-cancelados{
	background-color: #D57400;
	height: 30px;
	border-radius: 20px;
	padding-top: 3px;
	margin-right: 10px;
	margin-top: 10px;
}
.t-cancelados span{
	color: #fff;
	margin-left: 12px;
	top: 100px;
	font-weight: bold;
	padding-right: 5px;
}

@media only screen and (max-width: 647px){
	.row-solicitudes{
		margin-top: 40px;
	}
}
@media only screen and (max-width: 486px){
	.row-solicitudes{
		margin-top: -50px;
	}
}
