.btn-eliminar-admin{
	float: left;
	height: 35px;
}
@media screen and (max-width: 646px){
	.btn-continueediting-admin{
		margin-top: 5px !important;
	}
}
@media screen and (max-width: 413px){
	.btn-guardar-admin{
		width: 100%;
	}
	.btn-addanother-admin{
		margin-top: 5px !important;
		width: 100%;
	}
	.btn-continueediting-admin{
		width: 100%;
	}
	.btn-eliminar-admin{
		width: 100%;
		margin-left: 5px;
		margin-top: 5px !important;
	}
}