{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- script para cargar la api de google analytcs-->

  <script>
    (function(w,d,s,g,js,fjs){
      g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
      js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
      js.src='https://apis.google.com/js/platform.js';
      fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
    }(window,document,'script'));
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
   
  
  

  <!-- Include the ViewSelector2 component script. -->
  <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/view-selector2.js"></script>

  <!-- Include the DateRangeSelector component script. -->
  <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/date-range-selector.js"></script>

  <!-- Include the ActiveUsers component script. -->
  <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/active-users.js"></script>

  <!-- Include the CSS that styles the charts. -->
  <link rel="stylesheet" href="https://ga-dev-tools.appspot.com/public/css/chartjs-visualizations.css">

  <!-- FIN script para cargar la api de google analytcs -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title >{% block titulo %}CoGua{% endblock titulo %}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'dowloand_bootstrap/css/lib/datatable/dataTables.bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'adminLTE3/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'adminLTE3/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminLTE3/dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'personal/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/css/perfil_user.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/css/perfil_user_responsive.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/css/perfil_listar.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/css/listar_responsive.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/chatbot/chatbot.css' %}">

  <link rel="stylesheet" href="{% static 'personal/Perfil/fullcalendar/lib/main.css' %}">
  {% block cssextras %}
  {% endblock cssextras %}
</head>
<!--
  SIGLAS
pu = perfil_user.html
-->
<!-- 
sidebar-mini = clase para mantener los iconos al contraer el menu lateral
-->

<body class="hold-transition layout-fixed layout-navbar-fixed layout-footer-fixed" style="">
<div id="contenedor_carga">
  <div id="carga"></div>
</div>
{% block carga_tabla %}
{% endblock carga_tabla %}
<div class="wrapper">
  <!-- Navbar -->

  <nav class="main-header navbar navbar-expand navbar-white navbar-light" style=" padding-left: 20px; padding-right: 20px; background-color: #0D4969;">
    <!-- linea sombreada acortado del nav 
      <div class="pu-contenedor-linea-bottom-nav" style="">
      <div class="pu-linea-bottom-nav" style=""></div>
    </div>
    -->
    <!-- FIN linea sombreada acortado del nav -->
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars" style="color: #fff"></i></a>
      </li>


      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'templates_home:index' %}" class="nav-link pu-word-home" style="color: #fff; ">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link pu-word-contacto" style="color: #fff; ">Contactos</a>
      </li>
    </ul>

   

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <div class="container-notificacion">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" onclick="notificacion_reducir_cero();">
            <i class="fas fa-bell"></i>
            <span id="notificacion" class="notification-counter" data-value="{{user.notificacion}}" style="display: none;">{{user.notificacion}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">Notificaciones</span>
            <div id="container-notificaiones">
            </div>
          </div>
        </li>
      </div>
      
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" style="color: #fff">
          <i class="fas fa-user-cog"></i>
          <i class="fas fa-sort-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">Configuración</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" data-widget="fullscreen">
            <i class="fas fa-expand-arrows-alt mr-2"></i>
            Expander Pantalla
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" onclick="abrir_modal_editar('{% url 'templates_perfil:editar_perfil_actual' %}');" class="dropdown-item">
            <i class="fas fa-user-edit mr-2"></i>
            Editar Perfil
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" onclick="abrir_modal_editar('{% url 'templates_perfil:editar_perfil_password_actual' %}');" class="dropdown-item">
            <i class="fas fa-key mr-2"></i>
            Cambiar mi contraseña
          </a>
          {% if request.user.is_superuser %}
            <div class="dropdown-divider"></div>
            <a href="{% url 'admin:index' %}" class="dropdown-item">
              <i class="fas fa-cogs mr-2"></i>
              Administración Cogua
            </a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <a href="{% url 'logout' %}" class="dropdown-item">
            <i class="fas fa-sign-out-alt mr-2"></i>
            Cerrar Sesión
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      
    </ul>
  </nav>
  
  <!-- /.navbar -->

  <!-- Main Sidebar Container 
  tipos de sidebar: 
  sidebar-light-info
  sidebar-dark-info
  sidebar-dark-warning
  -->
  <aside class="main-sidebar sidebar-light-info elevation-4">
    <!--
    naranja = rgba(40,213,202,0) 0%, rgba(10,24,7,0) 15%, rgba(198,138,53,1) 100%);
    plomo = rgba(40,213,202,0) 0%, rgba(65,125,52,0) 19%, rgba(175,171,171,1) 100%);
    celeste = rgba(40,213,202,0) 0%, rgba(65,125,52,0) 19%, rgba(11,96,105,1) 100%);
    purpura = #6f6ad4
    purpura = background: rgb(236,241,246);
background: linear-gradient(180deg, rgba(236,241,246,1) 36%, rgba(111,106,212,1) 100%, rgba(111,106,212,1) 100%, rgba(111,106,212,1) 100%);
    -->
    <div class="brand-link" style="width: 243px; position: absolute; background-color: #F6F1F9;height: 160px;border-bottom-color: #F6F1F9;">
      
    <div class="brand-link pu-div-imagen-perfil" style="background-color: #fff;height: 200px; border-bottom-color: #F6F1F9;">
      

      <div class="image pu-posicion-imagen-perfil" style="">
        <div class="circular--portrait pu-tam-imagen-perfil" style="">
          {% if user.imagen %}
            <img src="{{ user.imagen.url }}" class="elevation-2" style="">
          {% else %}
            <img src="{% static 'personal/imagen/usuario.png' %}" class="elevation-2" style="margin-left: -4.3px">
          {% endif %}
        </div>
        <i class="fas fa-circle pu-icon-conectado"></i>
      </div>
      <span class="brand-text font-weight-light pu-nombre-perfil"><a href="{% url 'templates_perfil:perfil' %}" class="d-block" style="color: #000;">{{ user.nombres.split.0 | title }} {{ user.apellidos.split.0 | title }}</a></span>
      <span style="font-size: 0.83171rem;font-weight: bold; margin-left: 75px; margin-top: -2px; position: absolute; color: #b8b6b6;">Cogua Latacunga</span>
    </div>
  </div>
        <!-- Sidebar 
        celest = background: rgb(245,247,250);
background: linear-gradient(180deg, rgba(245,247,250,1) 29%, rgba(46,191,187,1) 100%, rgba(46,191,187,1) 100%, rgba(46,191,187,1) 100%);
        -->
    <div class="sidebar" style="background-color: #ECF1F6; background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(13,73,105,1) 100%, rgba(13,73,105,1) 100%, rgba(13,73,105,1) 100%);"> 
      <!-- Sidebar user panel (optional) 
      <div class="user-panel mt-3 pb-3 mb-3 d-flex" >
        <div class="image">
          <div class="circular--portrait">
            {% if user.imagen %}
              <img src="{{ user.imagen.url }}" class="elevation-2">
            {% else %}
              <img src="{% static 'personal/imagen/usuario.png' %}" class="elevation-2" style="margin-left: -4.3px">
            {% endif %}
          </div>
        </div>
        <div class="info">
          <a href="{% url 'templates_perfil:perfil' %}" class="d-block">{{ user.nombres | title }} {{ user.apellidos | title }}</a>
        </div>
      </div>
      -->
      

      <!-- SidebarSearch Form  
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2" style="margin-top: 150px !important;color: #154AF9;">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          {% block menu_open %}
            <li class="nav-item pu-menu-hover">
              <a href="{% url 'templates_perfil:perfil' %}" class="nav-link active">
                <i class="nav-icon fas fa-user-circle perfil-icon" style=""></i>
                <p class="pu-color-p">Perfil</p>
              </a>
            </li>
            {% if request.user.is_staff %}
            <li class="nav-item pu-menu-hover">
              <a href="{% url 'templates_perfil:listar_solicitudes_reservas' %}" class="nav-link" onclick="solicitud_reducir_cero();">
                <i class="nav-icon fas fa-ad perfil-icon" style=""></i>
                <p class="pu-color-p">Solicitudes
                  <span id="solicitud" class="solicitud-counter" data-value="{{ user.solicitud }}" style="display: none;">{{ user.solicitud }}</span>
                </p>
              </a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-user-shield pu-color-i" style="font-size: 15px; margin-left: 4px;"></i>
                  <p class="pu-color-p" style="margin-left: -2px;color:#000;">
                    Administrar
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  {% if request.user.is_superuser %}
                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_usuario:listar_usuario' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p class="pu-mover-submenu-text" style="">Usuarios</p>
                      </a>
                    </li>
                  {% endif %}

                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_hotel:listar_hoteles' %}" class="nav-link">
                        <i class="nav-icon fas fa-concierge-bell"></i>
                        <p class="pu-mover-submenu-text">Cabañas</p>
                      </a>
                    </li>
                    <li class="nav-item pu-mover-submenu-icon">
                      <!-- {% url 'nombre de la url principal:listar_deporte' } -->
                      <a href="{% url 'templates_deporte:listar_deporte' %}" class="nav-link">
                        <i class="nav-icon fas fa-biking"></i>
                        <p class="pu-mover-submenu-text">Deportes</p>
                      </a>
                    </li>
                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_turismo:listar_turismos' %}" class="nav-link">
                        <i class="nav-icon  fas fa-globe-asia"></i>
                        <p class="pu-mover-submenu-text">Turismos</p>
                      </a>
                    </li>
                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_plato:listar_platos' %}" class="nav-link">
                        <i class="nav-icon fas fa-utensils"></i>
                        <p class="pu-mover-submenu-text">Platos Tipicos</p>
                      </a>
                    </li>
                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_publicaciones:listar_publicaciones' %}" class="nav-link">
                        <i class="nav-icon fas fa-stream"></i>
                        <p class="pu-mover-submenu-text">Publicaciones</p>
                      </a>
                    </li>
                    
      
                </ul>
              </li>
            {% endif %}
          {% endblock menu_open %}
          {% block menu_open_reservaciones %}
            <li class="nav-item">
              {% if request.user.is_staff %}
              <a href="#" class="nav-link animar-mi-menu">
                <i class="nav-icon fab fa-resolving pu-color-i" style="font-size: 15px;"></i>
                  <p class="pu-color-p">
                    Reservaciones
                    <i class="right fas fa-angle-left"></i>
                  </p>
              </a>
              {% else %}
              <a href="#" class="nav-link animar-mi-menu">
                <i class="nav-icon fab fa-resolving" style="font-size: 15px;"></i>
                  <p class="pu-color-p">
                    Reservaciones
                    <i class="right fas fa-angle-left"></i>
                  </p>
              </a>
              {% endif %}
              <ul class="nav nav-treeview">
                {% if request.user.is_staff %}
                  {% if reserva_deportes or reserva_hoteles or reserva_platos or reserva_turismos%}
                      {% if reserva_hoteles %}
                        <li class="nav-item pu-mover-submenu-icon">
                          <a href="{% url 'templates_perfil:listar_reservas_hoteles' %}" class="nav-link">
                            <i class="nav-icon fas fa-concierge-bell"></i>
                            <p class="pu-mover-submenu-text">Cabañas</p>
                          </a>
                        </li>
                      {% endif %}
                      {% if reserva_deportes %}
                      <li class="nav-item pu-mover-submenu-icon">
                        <!-- {% url 'nombre de la url principal:listar_deporte' } -->
                        <a href="{% url 'templates_perfil:listar_reservas_deportes' %}"  class="nav-link">
                          <i class="nav-icon fas fa-biking"></i>
                          <p class="pu-mover-submenu-text">Deportes</p>
                        </a>
                      </li>
                      {% endif %}
                       {% if reserva_turismos %}
                      <li class="nav-item pu-mover-submenu-icon">
                        <a href="{% url 'templates_perfil:listar_reservas_turismos' %}" class="nav-link">
                          <i class="nav-icon  fas fa-globe-asia"></i>
                          <p class="pu-mover-submenu-text">Turismos</p>
                        </a>
                      </li>
                      {% endif %}
                      {% if reserva_platos %}
                      <li class="nav-item pu-mover-submenu-icon">
                        <a href="{% url 'templates_perfil:listar_reservas_platos' %}" class="nav-link">
                          <i class="nav-icon fas fa-utensils"></i>
                          <p class="pu-mover-submenu-text">Platos Tipicos</p>
                        </a>
                      </li>
                      {% endif %}
                  {% else %}
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-ban"></i>
                        <p>No existen Reservas</p>
                      </a>
                    </li>
                  {% endif %}
                {% else %}
                  {% if n_reservaciones %}
                  <li class="nav-item">
                    <a href="{% url 'templates_perfil:listar_reservas_user_deportes' %}" class="nav-link ">
                      <i class="nav-icon fas fa-compass"></i>
                      <p>Mis reservas ({{ n_reservaciones }})</p>
                    </a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a href="#" class="nav-link ">
                      <i class="nav-icon  fab fa-creative-commons-zero"></i>
                      <p>No existen reservas</p>
                    </a>
                  </li>
                  {% endif %}
                {% endif %}
              </ul>
            </li>
          {% endblock menu_open_reservaciones %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book pu-color-i" style="font-size: 14px;"></i>
              <p class="pu-color-p">
                Paginas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item pu-mover-submenu-icon">
                <a href="{% url 'templates_home:listado_hoteles_disponibles' %}" class="nav-link">
                  <i class="nav-icon fas fa-concierge-bell"></i>
                  <p class="pu-mover-submenu-text">Cabañas</p>
                </a>
              </li>
              <li class="nav-item pu-mover-submenu-icon">
                <a href="{% url 'templates_home:listado_deportes_disponibles' %}" class="nav-link">
                  <i class="nav-icon fas fa-biking"></i>
                  <p class="pu-mover-submenu-text">Deportes</p>
                </a>
              </li>
              <li class="nav-item pu-mover-submenu-icon">
                <a href="{% url 'templates_home:listado_turismos_disponibles' %}" class="nav-link">
                  <i class="nav-icon  fas fa-globe-asia"></i>
                  <p class="pu-mover-submenu-text">Turismos</p>
                </a>
              </li>
              <li class="nav-item pu-mover-submenu-icon">
                <a href="{% url 'templates_home:listado_platos_disponibles' %}" class="nav-link">
                  <i class="nav-icon fas fa-utensils"></i>
                  <p class="pu-mover-submenu-text">Platos Típicos</p>
                </a>
              </li>
            
          
            </ul>
          </li>
          {% block menu_open_extras %}
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-plus-square pu-color-i" style="font-size: 15px;"></i>
              <p class="pu-color-p">
                Extras
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item pu-mover-submenu-icon">
                <a href="{% url 'templates_perfil:calendario_admin' %}" class="nav-link">
                  <i class="far fa-calendar-alt nav-icon"></i>
                  <p class="pu-mover-submenu-text">Calendario</p>
                </a>
              </li>
              <li class="nav-item pu-mover-submenu-icon">
                <a href="{% url 'templates_perfil:analisis_admin' %}" class="nav-link">
                  <i class="fas fa-chart-bar nav-icon"></i>
                  <p class="pu-mover-submenu-text">Análisis de datos</p>
                </a>
              </li>
              
            </ul>
          </li>
          {% endblock menu_open_extras%}
          <li class="nav-header pu-word-otros" style="color: #616884; font-size: 0.78571rem;">OTROS</li>

          <li class="nav-item home-responsive" style="margin-top: 10px;">
            <a href="{% url 'templates_home:index' %}" class="nav-link">
              <i class="nav-icon fas fa-home pu-color-i" style="font-size: 15px;"></i>
              <p class="pu-color-p" style="color: #F9ECF9">
                Home
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon far fa-image pu-color-i" style="font-size: 15px;"></i>
              <p class="pu-color-p" style="color: #F9ECF9">
                Publicaciones
              </p>
            </a>
          </li>
          <li class="nav-item pu-menu-hover">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-circle text-info" style="font-size: 15px;"></i>
              <p class="pu-color-p" style="color: #F9ECF9">Información</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper" style="background-color: #ECF1F6; padding-left: 20px;">
    <!-- Content Header (Page header) -->
    {% block fondo %}
    <!--<div class="pu-imagen-fondo" style="">

          <img src="{% static 'personal/imagen/arbol2.png' %}" class="elevation-2" alt="{{ user.nombres }} {{ user.apellidos }}" style="">
    </div>-->
    {% endblock fondo %}
    <div class="content-header">
      <div class="container-fluid">
        {% block tablatitulo %}
        <div class="pu-titulo-todo-div" style="margin-top: 20px;">
          {% if request.user.is_staff %}
            <h1 class="m-0 pu-titulo-div" style="font-size: 0.91971rem; font-family: Arial,sans-serif; margin-right: 20px !important; height: 25px;padding-top: 5px;">PERFIL DE USUARIO: ADMINISTRADOR 
              <a id="btn_editar_perfil" onclick="editarHome();" class="button-editar-home btn1">Actualizar Home <i class="fas fa-pen" style="color: #FF9F00; font-size: 12px;"></i></a>
              <a id="btn_regresar" onclick="regresarPerfil();" class="button-editar-home" style="display: none;">Perfil <i class="fas fa-pen" style="color: #FF9F00; font-size: 12px;"></i></a>
            </h1><!-- /.col -->

          {% else %}
            <h1 class="m-0 pu-titulo-div" style="font-size: 0.91971rem; font-family: Arial,sans-serif">PERFIL DE USUARIO</h1>
          {% endif %}
        </div><!-- /.row -->
        {% endblock tablatitulo %}
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% csrf_token %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
            
        <div class="row">
          <div class="col-md-12">
            {% block tabla %}

            <!-- Contenedores de api google analytics -->
         

            
            <!--FIN Contenedores de api google analytics -->
            
              <!-- Div para mostrar datos del usario responsive -->
              <div class="pu-div-perfil-contenedor-datos" style="">
                <div id="perfil_user">
                  <div class="pu-div-perfil-image-responsive" style="background-color: #fff;">
                    <div class="perfil-user-image">
                      {% if user.imagen %}
                      <img id="myImg" src="{{ user.imagen.url }}" alt="{{ user.nombres }} {{ user.apellidos }}">
                      {% else %}
                      <img id="myImg" src="{% static 'personal/imagen/usuario.png' %}" class="elevation-2" alt="{{ user.nombres }} {{ user.apellidos }}" style="margin-left: 0px">
                      {% endif %}
                    </div>
                  </div>

                
                  <div class="pu-div-perfil-datos-responsive" style="background-color: #fff;">
                    
                    <div class="perfi-user-datos">
                      <div class="table-responsive" style="padding-top: 50px; margin-top: -55px;">
                      <table class="table-hover pu-table-datos" style="">
                        <thead>
                          <tr class="pu-table-thead">
                            <th colspan="2">Datos Personales <button onclick="abrir_modal_editar('{% url 'templates_perfil:editar_perfil_actual' %}');" class="btn btn-info btn-sm cambiar-button-nuevo" type="button" style="background-color: #fff; border-color: #fff;"><i class="fas fa-pen cambiar-icon-nuevo" style="color: #FF9F00"></i></button></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Nombres</td>
                            <td>{{ user.nombres | title }}</td>
                          </tr>
                          <tr>
                            <td>Apellidos</td>
                            <td>{{ user.apellidos | title }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ user.email}}</td>
                          </tr>
                          <tr>
                            <td>Contraseña</td>
                            <td>******************</td>
                          </tr>
                          <tr>
                            <td>Inicio de sesión</td>
                            <td>{{ user.last_login }}</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      


                    </div>
                  </div>
                </div>

                {% if request.user.is_staff %}
                  <div class="btn-imagen-responsive">
                    <div id="btn_editar_perfil1" onclick="editarHome();" class="button-editar-home1" >
                      Actualizar Home <i class="fas fa-pen" style="color: #FF9F00; font-size: 12px;"></i>
                    </div>
                    <div id="btn_regresar1" onclick="regresarPerfil();" class="button-editar-home1" style="display: none;">
                      Perfil <i class="fas fa-pen" style="color: #FF9F00; font-size: 12px;"></i>
                    </div>
                  </div>
                  
                  <div id="editar_home" style="background-color: #fff; display: none;">
                    <div class="container-body-editar-imagenes">
                      <h1>Actualizar imágenes y logos</h1>

                      <h2 class="titulo-imagen-home">Imágenes (Home principal)</h2>

                        <div style="text-align: center;" id="contenedore-fotos-home">
                        </div>
                      <h2 class="titulo-imagen-home">Imagen (Home cabañas)</h2>
                        <div style="text-align: center;" id="contenedore-fotos-hoteles">
                        </div>
                      <h2 class="titulo-imagen-home">Imagen (Home deportes)</h2>
                        <div style="text-align: center;" id="contenedore-fotos-deportes">
                        </div>
                      <h2 class="titulo-imagen-home">Imagen (Home lugares turísticos)</h2>
                        <div style="text-align: center;" id="contenedore-fotos-lugares">
                        </div>
                      <h2 class="titulo-imagen-home">Imagen (Home platos típicos)</h2>
                        <div style="text-align: center;" id="contenedore-fotos-platos">
                        </div>
                      <h2 class="titulo-imagen-home">Logo de la aplicación web</h2>
                        <div style="text-align: center;" id="contenedore-fotos-logo">
                        </div>
                    </div>
                    
                  </div>
                {% endif %}
              </div>
              <!-- Div para mostrar datos del usario responsive -->
               <!-- 3 graficos de colores del perfil de usuario -->
              {% if request.user.is_staff %}
                <div class="pu-contenedor-inf-global" style="text-align: center; background-color: #ECF1F6">
                  <div class="pu-inf-global1" style="">
                    <i class="fas fa-users" style="font-size: 40px;"></i>
                    <div class="pu-inf-global-info">
                      <p class="pu-info-parrafo1">8</p>
                      <p class="pu-info-parrafo2">USUARIOS</p>
                    </div>
                  </div>
                  <div class="pu-inf-global2" style="">
                    <i class="far fa-bell" style=""></i>
                    <div class="pu-inf-global-info">
                      <p class="pu-info-parrafo1 pu-info-parrafo1-temp">12</p>
                      <p class="pu-info-parrafo2">SOLICITUDES PENDIENTES</p>
                    </div>
                  </div>
                  <div class="pu-inf-global3" style="">
                    <i class="fas fa-calendar-alt" style="font-size: 33px;"></i>
                    <div class="pu-inf-global-info">
                      <p class="pu-info-parrafo1">5</p>
                      <p class="pu-info-parrafo2">RESERVACIONES PARA ESTE MES</p>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="pu-contenedor-inf-global" style="text-align: center; background-color: #ECF1F6">
                  <div class="pu-inf-global1" style="">
                    <i class="far fa-check-circle" style=""></i>
                    <div class="pu-inf-global-info">
                      <p class="pu-info-parrafo1">2</p>
                      <p class="pu-info-parrafo2">VISITADOS</p>
                    </div>
                  </div>
                  <div class="pu-inf-global2" style="">
                    <i class="far fa-bell" style=""></i>
                    <div class="pu-inf-global-info">
                      <p class="pu-info-parrafo1 pu-info-parrafo1-temp">5</p>
                      <p class="pu-info-parrafo2">RERSERVAS PENDIENTES</p>
                    </div>
                  </div>
                  <div class="pu-inf-global3" style="">
                    <i class="far fa-calendar-times" style=""></i>
                    <div class="pu-inf-global-info">
                      <p class="pu-info-parrafo1">1</p>
                      <p class="pu-info-parrafo2">SIN VISITAR</p>
                    </div>
                  </div>
                </div>
              {% endif %}
              <!-- FIN 3 graficos de colores del perfil de usuario -->
            {% endblock tabla %}
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
       
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <df-messenger
    intent="WELCOME"
    chat-title="Asistente de Cogua"
    agent-id="e917072b-d526-427c-afbf-c8621b82e7b4"
    language-code="es"
    chat-icon="{% static 'personal/imagen/usuario.png' %}"
    user-id
  ></df-messenger>
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- Recuperando valores en chatbot.js-->
  <div id="nombre-user" data-value="{{ user.nombres.split.0 | title }}"></div>
  <div id="login1" data-value="{{ user.last_login|date:'H' }}"></div>
  <div id="login2" data-value="{{ user.last_login|date:'i' }}"></div>
  <div id="login3" data-value="{{ user.last_login|date:'s' }}"></div>
  <!-- FIN Recuperando valores en chatbot.js-->

  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer" style="position: relative; font-size: 15px;">
    <strong>Copyright &copy; 2021 <a href="#">Dimpage</a>.</strong>
    Todos los derechos reservados.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 2.0.0
    </div>
  </footer>
</div>
<div id="popUp" class="modal1" style="z-index: 3000">
  <span class="close1">&times;</span>
  <img class="modal-content1" id="img01">
  <div id="caption1"></div>
</div>

<!-- ./wrapper -->
<div class="modal fade"  data-backdrop="static" id="modalEditar" rol="dialog">
</div>

<div class="modal fade"  data-backdrop="static" id="ListarChatbot" rol="dialog">
  <!-- ./wrapper 
    <div class="modal-dialog swal2-show mover-modal-editar-user" role="document">
    <div class="modal-content modal-chatbot-responsive">
  -->
  <div class="modal-dialog swal2-show mover-modal-editar-user" role="document">
    <div class="modal-content ">

      <div  class="modal-body">
        <h1 class="titulo-listar-chatbot text-center" style="padding-bottom: 30px;" id="h1-titulo"></h1>
        <div id="listar-turismos-chatbot" class="div-scroll" style="height:270px;overflow-x: hidden; ">
        </div>
      </div>
      <div class="chatbor-reservar" id="btn-cerrar-modal-chatbot">
          <!-- mediante el onclick llamamos a la funcion registrarUsuario()
          que esta en el templates.js -->
          
      </div>
                  
    </div>
  </div>
</div>
<div class="modal fade"  data-backdrop="static" id="chatbotDetalles" rol="dialog">
  
</div>

<!-- script para autenticarse con google y mostrar la api de google analytics -->

<!-- Include the CSS that styles the charts. -->
<!-- FIN script para autenticarse con google y mostrar la api de google analytics -->
<!-- REQUIRED SCRIPTS -->
<!-- <script src="{% static 'personal/js/notificaciones/notificaciones.js' %}"></script> -->
<script src="{% static 'adminLTE3/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>

<script src="{% static 'personal/js/notificaciones/notificaciones.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'adminLTE3/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'adminLTE3/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLTE3/dist/js/adminlte.js' %}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael 
<script src="{% static 'adminLTE3/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'adminLTE3/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'adminLTE3/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'adminLTE3/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>

<script src="{% static 'adminLTE3/plugins/chart.js/Chart.min.js' %}"></script>-->

<!-- AdminLTE for demo purposes 
<script src="{% static 'adminLTE3/dist/js/demo.js' %}"></script>
 AdminLTE dashboard demo (This is only for demo purposes) 
<script src="{% static 'adminLTE3/dist/js/pages/dashboard2.js' %}"></script> -->
<!-- para improtar sweet alert -->
<script src="{% static 'dowloand_bootstrap/js/lib/data-table/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dowloand_bootstrap/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'personal/main.js' %}"></script>
<script src="{% static 'personal/js/usuarios/templates.js' %}"></script>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>


<script src="{% static 'personal/Perfil/chatbot/startChatbot.js' %}"></script>
<script src="{% static 'personal/Perfil/chatbot/runChatbot.js' %}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" href="{% static 'home/daterangerpicker/daterangepicker.css' %}">
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'home/daterangerpicker/daterangepicker.js' %}"></script>
<script src="{% static 'personal/js/editarHome/editarHome.js' %}"></script>
<script type="text/javascript">
  //$( document ).ready(function() {
    //$('#modalFullCalendar').modal('toggle')
//});
window.onload = function(){
  var contenedor = document.getElementById('contenedor_carga');
  contenedor.style.visibility = 'hidden';
  contenedor.style.opacity = '0';
}
$(document).ready(function(){
  $('#active-users-container').hide();
});

const dfMessenger = document.querySelector('df-messenger');
  dfMessenger.addEventListener('df-response-received', function (event) {
    data = event.detail.response;
    intento = data.queryResult.intent.displayName;
  
  });
</script>
<script type="text/javascript">

    var modal = document.getElementById('popUp');

    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption1");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    var span = document.getElementsByClassName("close1")[0];

    span.onclick = function() { 
      modal.style.display = "none";
    }
</script>

<!-- script para mensaje de permisos 
la variable messages es llada desde el archivo mixins.py del def dispatch-->
<script type="text/javascript">
  {% if messages %}
    var html_mensaje = '';
    {% for mensaje in messages %}
      html_mensaje += '{{ mensaje }}';
    {% endfor %}
    sweetError(html_mensaje);
  {% endif %}
</script>
{% block extrajs %}
{% endblock extrajs %}
</body>
</html>