{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- script para cargar la api de google analytcs
  <script>
    (function(w,d,s,g,js,fjs){
      g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
      js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
      js.src='https://apis.google.com/js/platform.js';
      fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
    }(window,document,'script'));
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
   -->
  
  

  <!-- Include the ViewSelector2 component script. -->
  <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/view-selector2.js"></script>

  <!-- Include the DateRangeSelector component script. -->
  <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/date-range-selector.js"></script>

  <!-- Include the ActiveUsers component script. -->
  <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/active-users.js"></script>

  <!-- Include the CSS that styles the charts. -->
  <link rel="stylesheet" href="https://ga-dev-tools.appspot.com/public/css/chartjs-visualizations.css">

  <!-- FIN script para cargar la api de google analytcs -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block titulo %}CoGua{% endblock titulo %}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'adminLTE3/plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'adminLTE3/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminLTE3/dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'personal/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/css/perfil_user.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/css/perfil_user_responsive.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/css/perfil_listar.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/css/listar_responsive.css' %}">
  <link rel="stylesheet" href="{% static 'personal/Perfil/chatbot/chatbot.css' %}">

  <link rel="stylesheet" href="{% static 'personal/Perfil/fullcalendar/lib/main.css' %}">
  {% block cssextras %}
  {% endblock cssextras %}
</head>
<!--
  SIGLAS
pu = perfil_user.html
-->
<!-- 
sidebar-mini = clase para mantener los iconos al contraer el menu lateral
-->
<body class="hold-transition layout-fixed layout-navbar-fixed layout-footer-fixed" style="">
<div class="wrapper">
  <!-- Navbar -->

  <nav class="main-header navbar navbar-expand navbar-white navbar-light" style=" padding-left: 20px; padding-right: 20px; background-color: #0D4969;">
    <!-- linea sombreada acortado del nav 
      <div class="pu-contenedor-linea-bottom-nav" style="">
      <div class="pu-linea-bottom-nav" style=""></div>
    </div>
    -->
    <!-- FIN linea sombreada acortado del nav -->
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars" style="color: #fff"></i></a>
      </li>


      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'templates_home:index' %}" class="nav-link pu-word-home" style="color: #fff; ">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link pu-word-contacto" style="color: #fff; ">Contactos</a>
      </li>
    </ul>

   

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" style="color: #fff">
          <i class="fas fa-user-cog"></i>
          <i class="fas fa-sort-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">Configuración</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" data-widget="fullscreen">
            <i class="fas fa-expand-arrows-alt mr-2"></i>
            Expander Pantalla
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" onclick="abrir_modal_editar('{% url 'templates_perfil:editar_perfil_actual' %}');" class="dropdown-item">
            <i class="fas fa-user-edit mr-2"></i>
            Editar Perfil
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" onclick="abrir_modal_editar('{% url 'templates_perfil:editar_perfil_password_actual' %}');" class="dropdown-item">
            <i class="fas fa-key mr-2"></i>
            Cambiar mi contraseña
          </a>
          {% if request.user.is_superuser %}
            <div class="dropdown-divider"></div>
            <a href="{% url 'admin:index' %}" class="dropdown-item">
              <i class="fas fa-cogs mr-2"></i>
              Administración Cogua
            </a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <a href="{% url 'logout' %}" class="dropdown-item">
            <i class="fas fa-sign-out-alt mr-2"></i>
            Cerrar Sesión
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      
    </ul>
  </nav>
  
  <!-- /.navbar -->

  <!-- Main Sidebar Container 
  tipos de sidebar: 
  sidebar-light-info
  sidebar-dark-info
  sidebar-dark-warning
  -->
  <aside class="main-sidebar sidebar-light-info elevation-4">
    <!--
    naranja = rgba(40,213,202,0) 0%, rgba(10,24,7,0) 15%, rgba(198,138,53,1) 100%);
    plomo = rgba(40,213,202,0) 0%, rgba(65,125,52,0) 19%, rgba(175,171,171,1) 100%);
    celeste = rgba(40,213,202,0) 0%, rgba(65,125,52,0) 19%, rgba(11,96,105,1) 100%);
    purpura = #6f6ad4
    purpura = background: rgb(236,241,246);
background: linear-gradient(180deg, rgba(236,241,246,1) 36%, rgba(111,106,212,1) 100%, rgba(111,106,212,1) 100%, rgba(111,106,212,1) 100%);
    -->
    <div class="brand-link" style="width: 243px; position: absolute; background-color: #F6F1F9;height: 160px;border-bottom-color: #F6F1F9;">
      
    <div class="brand-link pu-div-imagen-perfil" style="background-color: #fff;height: 200px; border-bottom-color: #F6F1F9;">
      

      <div class="image pu-posicion-imagen-perfil" style="">
        <div class="circular--portrait pu-tam-imagen-perfil" style="">
          {% if user.imagen %}
            <img src="{{ user.imagen.url }}" class="elevation-2" style="">
          {% else %}
            <img src="{% static 'personal/imagen/usuario.png' %}" class="elevation-2" style="margin-left: -4.3px">
          {% endif %}
        </div>
        <i class="fas fa-circle pu-icon-conectado"></i>
      </div>
      <span class="brand-text font-weight-light pu-nombre-perfil"><a href="{% url 'templates_perfil:perfil' %}" class="d-block" style="color: #000;">{{ user.nombres.split.0 | title }} {{ user.apellidos.split.0 | title }}</a></span>
      <span style="font-size: 0.83171rem;font-weight: bold; margin-left: 75px; margin-top: -2px; position: absolute; color: #b8b6b6;">Cogua Latacunga</span>
    </div>
  </div>
        <!-- Sidebar 
        celest = background: rgb(245,247,250);
background: linear-gradient(180deg, rgba(245,247,250,1) 29%, rgba(46,191,187,1) 100%, rgba(46,191,187,1) 100%, rgba(46,191,187,1) 100%);
        -->
    <div class="sidebar" style="background-color: #ECF1F6; background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(13,73,105,1) 100%, rgba(13,73,105,1) 100%, rgba(13,73,105,1) 100%);"> 
      <!-- Sidebar user panel (optional) 
      <div class="user-panel mt-3 pb-3 mb-3 d-flex" >
        <div class="image">
          <div class="circular--portrait">
            {% if user.imagen %}
              <img src="{{ user.imagen.url }}" class="elevation-2">
            {% else %}
              <img src="{% static 'personal/imagen/usuario.png' %}" class="elevation-2" style="margin-left: -4.3px">
            {% endif %}
          </div>
        </div>
        <div class="info">
          <a href="{% url 'templates_perfil:perfil' %}" class="d-block">{{ user.nombres | title }} {{ user.apellidos | title }}</a>
        </div>
      </div>
      -->
      

      <!-- SidebarSearch Form  
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2" style="margin-top: 150px !important;color: #154AF9;">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          {% block menu_open %}
            <li class="nav-item pu-menu-hover">
              <a href="{% url 'templates_perfil:perfil' %}" class="nav-link active">
                <i class="nav-icon fas fa-user-circle perfil-icon" style=""></i>
                <p class="pu-color-p">Perfil</p>
              </a>
            </li>
            {% if request.user.is_staff %}
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-user-shield pu-color-i" style="font-size: 15px; margin-left: 4px;"></i>
                  <p class="pu-color-p" style="margin-left: -2px;color:#000;">
                    Administrar
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  {% if request.user.is_superuser %}
                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_usuario:listar_usuario' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p class="pu-mover-submenu-text" style="">Usuarios</p>
                      </a>
                    </li>
                  {% endif %}

                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_hotel:listar_hoteles' %}" class="nav-link">
                        <i class="nav-icon fas fa-concierge-bell"></i>
                        <p class="pu-mover-submenu-text">Cabañas</p>
                      </a>
                    </li>
                    <li class="nav-item pu-mover-submenu-icon">
                      <!-- {% url 'nombre de la url principal:listar_deporte' } -->
                      <a href="{% url 'templates_deporte:listar_deporte' %}" class="nav-link">
                        <i class="nav-icon fas fa-biking"></i>
                        <p class="pu-mover-submenu-text">Deportes</p>
                      </a>
                    </li>
                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_turismo:listar_turismos' %}" class="nav-link">
                        <i class="nav-icon  fas fa-globe-asia"></i>
                        <p class="pu-mover-submenu-text">Turismos</p>
                      </a>
                    </li>
                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_plato:listar_platos' %}" class="nav-link">
                        <i class="nav-icon fas fa-utensils"></i>
                        <p class="pu-mover-submenu-text">Platos Tipicos</p>
                      </a>
                    </li>
                    <li class="nav-item pu-mover-submenu-icon">
                      <a href="{% url 'templates_publicaciones:listar_publicaciones' %}" class="nav-link">
                        <i class="nav-icon fas fa-stream"></i>
                        <p class="pu-mover-submenu-text">Publicaciones</p>
                      </a>
                    </li>
                    
      
                </ul>
              </li>
            {% endif %}
          {% endblock menu_open %}
          {% block menu_open_reservaciones %}
            <li class="nav-item">
              {% if request.user.is_staff %}
              <a href="#" class="nav-link animar-mi-menu">
                <i class="nav-icon fab fa-resolving pu-color-i" style="font-size: 15px;"></i>
                  <p class="pu-color-p">
                    Reservaciones
                    <i class="right fas fa-angle-left"></i>
                  </p>
              </a>
              {% else %}
              <a href="#" class="nav-link animar-mi-menu">
                <i class="nav-icon fab fa-resolving" style="font-size: 15px;"></i>
                  <p class="pu-color-p">
                    Reservaciones
                    <i class="right fas fa-angle-left"></i>
                  </p>
              </a>
              {% endif %}
              <ul class="nav nav-treeview">
                {% if request.user.is_staff %}
                  {% if reserva_deportes or reserva_hoteles or reserva_platos or reserva_turismos%}
                      {% if reserva_hoteles %}
                        <li class="nav-item pu-mover-submenu-icon">
                          <a href="{% url 'templates_perfil:listar_reservas_hoteles' %}" class="nav-link">
                            <i class="nav-icon fas fa-concierge-bell"></i>
                            <p class="pu-mover-submenu-text">Cabañas</p>
                          </a>
                        </li>
                      {% endif %}
                      {% if reserva_deportes %}
                      <li class="nav-item pu-mover-submenu-icon">
                        <!-- {% url 'nombre de la url principal:listar_deporte' } -->
                        <a href="{% url 'templates_perfil:listar_reservas_deportes' %}"  class="nav-link">
                          <i class="nav-icon fas fa-biking"></i>
                          <p class="pu-mover-submenu-text">Deportes</p>
                        </a>
                      </li>
                      {% endif %}
                       {% if reserva_turismos %}
                      <li class="nav-item pu-mover-submenu-icon">
                        <a href="{% url 'templates_perfil:listar_reservas_turismos' %}" class="nav-link">
                          <i class="nav-icon  fas fa-globe-asia"></i>
                          <p class="pu-mover-submenu-text">Turismos</p>
                        </a>
                      </li>
                      {% endif %}
                      {% if reserva_platos %}
                      <li class="nav-item pu-mover-submenu-icon">
                        <a href="{% url 'templates_perfil:listar_reservas_platos' %}" class="nav-link">
                          <i class="nav-icon fas fa-utensils"></i>
                          <p class="pu-mover-submenu-text">Platos Tipicos</p>
                        </a>
                      </li>
                      {% endif %}
                  {% else %}
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-ban"></i>
                        <p>No existen Reservas</p>
                      </a>
                    </li>
                  {% endif %}
                {% else %}
                  {% if n_reservaciones %}
                  <li class="nav-item">
                    <a href="{% url 'templates_perfil:listar_reservas_user_deportes' %}" class="nav-link ">
                      <i class="nav-icon fas fa-compass"></i>
                      <p>Mis reservas ({{ n_reservaciones }})</p>
                    </a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a href="#" class="nav-link ">
                      <i class="nav-icon  fab fa-creative-commons-zero"></i>
                      <p>No existen reservas</p>
                    </a>
                  </li>
                  {% endif %}
                {% endif %}
              </ul>
            </li>
          {% endblock menu_open_reservaciones %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book pu-color-i" style="font-size: 14px;"></i>
              <p class="pu-color-p">
                Paginas
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'templates_home:listado_hoteles_disponibles' %}" class="nav-link">
                  <i class="nav-icon fas fa-concierge-bell"></i>
                  <p class="pu-mover-submenu-text">Cabañas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'templates_home:listado_deportes_disponibles' %}" class="nav-link">
                  <i class="nav-icon fas fa-biking"></i>
                  <p class="pu-mover-submenu-text">Deportes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'templates_home:listado_turismos_disponibles' %}" class="nav-link">
                  <i class="nav-icon  fas fa-globe-asia"></i>
                  <p class="pu-mover-submenu-text">Turismos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'templates_home:listado_platos_disponibles' %}" class="nav-link">
                  <i class="nav-icon fas fa-utensils"></i>
                  <p class="pu-mover-submenu-text">Platos Tipicos</p>
                </a>
              </li>
            
          
            </ul>
          </li>
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-plus-square pu-color-i" style="font-size: 15px;"></i>
              <p class="pu-color-p">
                Extras
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" onclick="abrir_modal_editar('{% url 'templates_perfil:editar_perfil_actual' %}');" class="nav-link">
                  <i class="fas fa-pen nav-icon"></i>
                  <p class="pu-mover-submenu-text">Editar mi perfil</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" onclick="abrir_modal_editar('{% url 'templates_perfil:editar_perfil_password_actual' %}');" class="nav-link">
                  <i class="fas fa-key nav-icon"></i>
                  <p class="pu-mover-submenu-text">Cambiar contraseña</p>
                </a>
              </li>
              
            </ul>
          </li>
          <li class="nav-header pu-word-otros" style="color: #616884; font-size: 0.78571rem;">OTROS</li>

          <li class="nav-item" style="margin-top: 20px;">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon far fa-image pu-color-i" style="font-size: 15px;"></i>
              <p class="pu-color-p" style="color: #F9ECF9">
                Publicaciones
              </p>
            </a>
          </li>
          <li class="nav-item pu-menu-hover">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-circle text-info" style="font-size: 15px;"></i>
              <p class="pu-color-p" style="color: #F9ECF9">Información</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper" style="background-color: #ECF1F6; padding-left: 20px;">
    <!-- Content Header (Page header) -->
    {% block fondo %}
    <!--<div class="pu-imagen-fondo" style="">

          <img src="{% static 'personal/imagen/arbol2.png' %}" class="elevation-2" alt="{{ user.nombres }} {{ user.apellidos }}" style="">
    </div>-->
    {% endblock fondo %}
    <div class="content-header">
      <div class="container-fluid">
        {% block tablatitulo %}
        <div class=" pu-titulo-todo-div" style="margin-top: 20px;">
            <h1 class="m-0 pu-titulo-div" style="font-size: 0.91971rem; font-family: Arial,sans-serif">PERFIL DE USUARIO</h1><!-- /.col -->
        </div><!-- /.row -->
        {% endblock tablatitulo %}
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% csrf_token %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
       
        <!-- google analytics
        <header>
              <div id="embed-api-auth-container"></div>
              <div id="view-selector-container" class="vista-seleccion"></div>
              <div id="view-name"></div>
              <div id="active-users-container"></div>
            </header>
            <div class="Chartjs">
              <h3>This Week vs Last Week (by sessions)</h3>
              <figure class="Chartjs-figure" id="chart-1-container"></figure>
              <ol class="Chartjs-legend" id="legend-1-container"></ol>
            </div>
            <div class="Chartjs">
              <h3>This Year vs Last Year (by users)</h3>
              <figure class="Chartjs-figure" id="chart-2-container"></figure>
              <ol class="Chartjs-legend" id="legend-2-container"></ol>
            </div>
            <div class="Chartjs">
              <h3>Top Browsers (by pageview)</h3>
              <figure class="Chartjs-figure" id="chart-3-container"></figure>
              <ol class="Chartjs-legend" id="legend-3-container"></ol>
            </div>
            <div class="Chartjs">
              <h3>Top Countries (by sessions)</h3>
              <figure class="Chartjs-figure" id="chart-4-container"></figure>
              <ol class="Chartjs-legend" id="legend-4-container"></ol>
            </div>
        -->
            
        <div class="row">
          <div class="col-md-12">
            {% block tabla %}

            <!-- Contenedores de api google analytics -->
         

            
            <!--FIN Contenedores de api google analytics -->
           
              <!-- Div para mostrar datos del usario responsive -->
              <div class="pu-div-perfil-contenedor-datos" style="">
                <div class="pu-div-perfil-image-responsive" style="background-color: #fff;">
                  <div class="perfil-user-image">
                    {% if user.imagen %}
                    <img id="myImg" src="{{ user.imagen.url }}" alt="{{ user.nombres }} {{ user.apellidos }}">
                    {% else %}
                    <img id="myImg" src="{% static 'personal/imagen/usuario.png' %}" class="elevation-2" alt="{{ user.nombres }} {{ user.apellidos }}" style="margin-left: 0px">
                    {% endif %}
                  </div>
                </div>

              
                <div class="pu-div-perfil-datos-responsive" style="background-color: #fff;">
                  
                  <div class="perfi-user-datos">
                    <div class="table-responsive" style="padding-top: 50px; margin-top: -55px;">
                    <table class="table-hover pu-table-datos" style="">
                      <thead>
                        <tr class="pu-table-thead">
                          <th colspan="2">Datos Personales <button onclick="abrir_modal_editar('{% url 'templates_perfil:editar_perfil_actual' %}');" class="btn btn-info btn-sm cambiar-button-nuevo" type="button" style="background-color: #fff; border-color: #fff;"><i class="fas fa-pen cambiar-icon-nuevo" style="color: #FF9F00"></i></button></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Nombres</td>
                          <td>{{ user.nombres | title }}</td>
                        </tr>
                        <tr>
                          <td>Apellidos</td>
                          <td>{{ user.apellidos | title }}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>{{ user.email}}</td>
                        </tr>
                        <tr>
                          <td>Contraseña</td>
                          <td>******************</td>
                        </tr>
                        <tr>
                          <td>Inicio de sesión</td>
                          <td>{{ user.last_login }}</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                    


                  </div>
                </div>
              </div>
              <!-- Div para mostrar datos del usario responsive -->
               <!-- 3 graficos de colores del perfil de usuario -->
              <div class="pu-contenedor-inf-global" style="text-align: center; background-color: #ECF1F6">
                <div class="pu-inf-global1" style="">
                  <i class="far fa-check-circle" style=""></i>
                  <div class="pu-inf-global-info">
                    <p class="pu-info-parrafo1">2</p>
                    <p class="pu-info-parrafo2">VISITADOS</p>
                  </div>
                </div>
                <div class="pu-inf-global2" style="">
                  <i class="far fa-bell" style=""></i>
                  <div class="pu-inf-global-info">
                    <p class="pu-info-parrafo1 pu-info-parrafo1-temp">5</p>
                    <p class="pu-info-parrafo2">RERSERVAS PENDIENTES</p>
                  </div>
                </div>
                <div class="pu-inf-global3" style="">
                  <i class="far fa-calendar-times" style=""></i>
                  <div class="pu-inf-global-info">
                    <p class="pu-info-parrafo1">1</p>
                    <p class="pu-info-parrafo2">SIN VISITAR</p>
                  </div>
                </div>
              </div>

              <!-- FIN 3 graficos de colores del perfil de usuario -->
            {% endblock tabla %}
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
       
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <df-messenger
    intent="WELCOME"
    chat-title="Asistente de Cogua"
    agent-id="e917072b-d526-427c-afbf-c8621b82e7b4"
    language-code="es"
    chat-icon="{% static 'personal/imagen/usuario.png' %}"
    user-id
  ></df-messenger>
  <div style="height: 80px; background-color: #ECF0F6;"></div>
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- Recuperando valores en chatbot.js-->
  <div id="nombre-user" data-value="{{ user.nombres.split.0 | title }}"></div>
  <div id="login1" data-value="{{ user.last_login|date:'H' }}"></div>
  <div id="login2" data-value="{{ user.last_login|date:'i' }}"></div>
  <div id="login3" data-value="{{ user.last_login|date:'s' }}"></div>
  <!-- FIN Recuperando valores en chatbot.js-->

  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer" style="position: relative; font-size: 15px;">
    <strong>Copyright &copy; 2021 <a href="#">Dimpage</a>.</strong>
    Todos los derechos reservados.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 2.0.0
    </div>
  </footer>
</div>
<div id="popUp" class="modal1" style="z-index: 3000">
  <span class="close1">&times;</span>
  <img class="modal-content1" id="img01">
  <div id="caption1"></div>
</div>

<!-- ./wrapper -->
<div class="modal fade"  data-backdrop="static" id="modalEditar" rol="dialog">
</div>

<div class="modal fade"  data-backdrop="static" id="modalFullCalendar" rol="dialog">
  <div class="modal-dialog swal2-show mover-modal-editar-user" role="document">
    <div class="modal-content modal-chatbot-responsive">

      <div class="modal-body">
        <div class="informacion-calendario-chatbot">
          <h1>Calendario</h1>
          <h2 class="informacion-calendario-chatbot-indicaciones">Indicaciones</h2>
          <div style="height: 10px"></div>
          <p><span>1.</span> Las fechas tachadas significan que no están disponibles</p>
          <p><span>2.</span> Selecciona tus fechas según la disponibilidad</p>
          <p><span>3.</span> Cuando abras el calendario debes seleccionar las fechas, click en "Guardar fechas" y luego enviar</p>
          <p><span>4.</span> Una vez envíes las fechas debes confirmar tu selección en el chatbot</p>
        </div>
        <div class="form-group row" style="margin-top: 45px;">
            <label for="nombre" class="col-form-label col-sm-4">Fecha:</label>
            <div class="col-sm-8">
                <input class="form-control fechainput" type="text" name="daterange" placeholder="Fecha Doc." readonly>
            </div>
        </div>
      </div>
      <div class="chatbor-reservar">
          <!-- mediante el onclick llamamos a la funcion registrarUsuario()
          que esta en el templates.js -->
          <input class="btn btn-info"  type="button" value="Responder" id="responder">
          <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
      </div>
                  
    </div>
  </div>
</div>
<!-- script para autenticarse con google y mostrar la api de google analytics -->

<!-- Include the CSS that styles the charts. -->
<!-- FIN script para autenticarse con google y mostrar la api de google analytics -->
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'adminLTE3/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'adminLTE3/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'adminLTE3/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminLTE3/dist/js/adminlte.js' %}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael 
<script src="{% static 'adminLTE3/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'adminLTE3/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'adminLTE3/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'adminLTE3/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>

<script src="{% static 'adminLTE3/plugins/chart.js/Chart.min.js' %}"></script>-->

<!-- AdminLTE for demo purposes 
<script src="{% static 'adminLTE3/dist/js/demo.js' %}"></script>
 AdminLTE dashboard demo (This is only for demo purposes) 
<script src="{% static 'adminLTE3/dist/js/pages/dashboard2.js' %}"></script> -->
<!-- para improtar sweet alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'personal/main.js' %}"></script>
<script src="{% static 'personal/js/usuarios/templates.js' %}"></script>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>


<script src="{% static 'personal/Perfil/chatbot/startChatbot.js' %}"></script>
<script src="{% static 'personal/Perfil/chatbot/runChatbot.js' %}"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" href="{% static 'home/daterangerpicker/daterangepicker.css' %}">

<script src="{% static 'home/daterangerpicker/daterangepicker.js' %}"></script>
<script type="text/javascript">
  //$( document ).ready(function() {
    //$('#modalFullCalendar').modal('toggle')
//});



const dfMessenger = document.querySelector('df-messenger');
  dfMessenger.addEventListener('df-response-received', function (event) {
    data = event.detail.response;
    intento = data.queryResult.intent.displayName;
  
  });



      

</script>
<script>

// == NOTE ==
// This code uses ES6 promises. If you want to use this code in a browser
// that doesn't supporting promises natively, you'll have to include a polyfill.

gapi.analytics.ready(function() {

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '659773364914-iolkrc4qccmn8mtcacaakje8p6jcgksd.apps.googleusercontent.com'
  });


  /**
   * Create a new ActiveUsers instance to be rendered inside of an
   * element with the id "active-users-container" and poll for changes every
   * five seconds.
   */
  var activeUsers = new gapi.analytics.ext.ActiveUsers({
    container: 'active-users-container',
    pollingInterval: 5
  });


  /**
   * Add CSS animation to visually show the when users come and go.
   */
  activeUsers.once('success', function() {
    var element = this.container.firstChild;
    var timeout;

    this.on('change', function(data) {
      var element = this.container.firstChild;
      var animationClass = data.delta > 0 ? 'is-increasing' : 'is-decreasing';
      element.className += (' ' + animationClass);

      clearTimeout(timeout);
      timeout = setTimeout(function() {
        element.className =
            element.className.replace(/ is-(increasing|decreasing)/g, '');
      }, 3000);
    });
  });


  /**
   * Create a new ViewSelector2 instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ext.ViewSelector2({
    container: 'view-selector-container',
  })
  .execute();


  /**
   * Update the activeUsers component, the Chartjs charts, and the dashboard
   * title whenever the user changes the view.
   */
  viewSelector.on('viewChange', function(data) {
    var title = document.getElementById('view-name');
    title.textContent = data.property.name + ' (' + data.view.name + ')';

    // Start tracking active users for this view.
    activeUsers.set(data).execute();

    // Render all the of charts for this view.
    renderWeekOverWeekChart(data.ids);
    renderYearOverYearChart(data.ids);
    renderTopBrowsersChart(data.ids);
    renderTopCountriesChart(data.ids);
  });


  /**
   * Draw the a chart.js line chart with data from the specified view that
   * overlays session data for the current week over session data for the
   * previous week.
   */
  function renderWeekOverWeekChart(ids) {

    // Adjust `now` to experiment with different days, for testing only...
    var now = moment(); // .subtract(3, 'day');

    var thisWeek = query({
      'ids': ids,
      'dimensions': 'ga:date,ga:nthDay',
      'metrics': 'ga:sessions',
      'start-date': moment(now).subtract(1, 'day').day(0).format('YYYY-MM-DD'),
      'end-date': moment(now).format('YYYY-MM-DD')
    });

    var lastWeek = query({
      'ids': ids,
      'dimensions': 'ga:date,ga:nthDay',
      'metrics': 'ga:sessions',
      'start-date': moment(now).subtract(1, 'day').day(0).subtract(1, 'week')
          .format('YYYY-MM-DD'),
      'end-date': moment(now).subtract(1, 'day').day(6).subtract(1, 'week')
          .format('YYYY-MM-DD')
    });

    Promise.all([thisWeek, lastWeek]).then(function(results) {

      var data1 = results[0].rows.map(function(row) { return +row[2]; });
      var data2 = results[1].rows.map(function(row) { return +row[2]; });
      var labels = results[1].rows.map(function(row) { return +row[0]; });

      labels = labels.map(function(label) {
        return moment(label, 'YYYYMMDD').format('ddd');
      });

      var data = {
        labels : labels,
        datasets : [
          {
            label: 'Last Week',
            fillColor : 'rgba(220,220,220,0.5)',
            strokeColor : 'rgba(220,220,220,1)',
            pointColor : 'rgba(220,220,220,1)',
            pointStrokeColor : '#fff',
            data : data2
          },
          {
            label: 'This Week',
            fillColor : 'rgba(151,187,205,0.5)',
            strokeColor : 'rgba(151,187,205,1)',
            pointColor : 'rgba(151,187,205,1)',
            pointStrokeColor : '#fff',
            data : data1
          }
        ]
      };

      new Chart(makeCanvas('chart-1-container')).Line(data);
      generateLegend('legend-1-container', data.datasets);
    });
  }


  /**
   * Draw the a chart.js bar chart with data from the specified view that
   * overlays session data for the current year over session data for the
   * previous year, grouped by month.
   */
  function renderYearOverYearChart(ids) {

    // Adjust `now` to experiment with different days, for testing only...
    var now = moment(); // .subtract(3, 'day');

    var thisYear = query({
      'ids': ids,
      'dimensions': 'ga:month,ga:nthMonth',
      'metrics': 'ga:users',
      'start-date': moment(now).date(1).month(0).format('YYYY-MM-DD'),
      'end-date': moment(now).format('YYYY-MM-DD')
    });

    var lastYear = query({
      'ids': ids,
      'dimensions': 'ga:month,ga:nthMonth',
      'metrics': 'ga:users',
      'start-date': moment(now).subtract(1, 'year').date(1).month(0)
          .format('YYYY-MM-DD'),
      'end-date': moment(now).date(1).month(0).subtract(1, 'day')
          .format('YYYY-MM-DD')
    });

    Promise.all([thisYear, lastYear]).then(function(results) {
      var data1 = results[0].rows.map(function(row) { return +row[2]; });
      var data2 = results[1].rows.map(function(row) { return +row[2]; });
      var labels = ['Jan','Feb','Mar','Apr','May','Jun',
                    'Jul','Aug','Sep','Oct','Nov','Dec'];

      // Ensure the data arrays are at least as long as the labels array.
      // Chart.js bar charts don't (yet) accept sparse datasets.
      for (var i = 0, len = labels.length; i < len; i++) {
        if (data1[i] === undefined) data1[i] = null;
        if (data2[i] === undefined) data2[i] = null;
      }

      var data = {
        labels : labels,
        datasets : [
          {
            label: 'Last Year',
            fillColor : 'rgba(220,220,220,0.5)',
            strokeColor : 'rgba(220,220,220,1)',
            data : data2
          },
          {
            label: 'This Year',
            fillColor : 'rgba(151,187,205,0.5)',
            strokeColor : 'rgba(151,187,205,1)',
            data : data1
          }
        ]
      };

      new Chart(makeCanvas('chart-2-container')).Bar(data);
      generateLegend('legend-2-container', data.datasets);
    })
    .catch(function(err) {
      console.error(err.stack);
    });
  }


  /**
   * Draw the a chart.js doughnut chart with data from the specified view that
   * show the top 5 browsers over the past seven days.
   */
  function renderTopBrowsersChart(ids) {

    query({
      'ids': ids,
      'dimensions': 'ga:browser',
      'metrics': 'ga:pageviews',
      'sort': '-ga:pageviews',
      'max-results': 5
    })
    .then(function(response) {

      var data = [];
      var colors = ['#4D5360','#949FB1','#D4CCC5','#E2EAE9','#F7464A'];

      response.rows.forEach(function(row, i) {
        data.push({ value: +row[1], color: colors[i], label: row[0] });
      });

      new Chart(makeCanvas('chart-3-container')).Doughnut(data);
      generateLegend('legend-3-container', data);
    });
  }


  /**
   * Draw the a chart.js doughnut chart with data from the specified view that
   * compares sessions from mobile, desktop, and tablet over the past seven
   * days.
   */
  function renderTopCountriesChart(ids) {
    query({
      'ids': ids,
      'dimensions': 'ga:country',
      'metrics': 'ga:sessions',
      'sort': '-ga:sessions',
      'max-results': 5
    })
    .then(function(response) {

      var data = [];
      var colors = ['#4D5360','#949FB1','#D4CCC5','#E2EAE9','#F7464A'];

      response.rows.forEach(function(row, i) {
        data.push({
          label: row[0],
          value: +row[1],
          color: colors[i]
        });
      });

      new Chart(makeCanvas('chart-4-container')).Doughnut(data);
      generateLegend('legend-4-container', data);
    });
  }


  /**
   * Extend the Embed APIs `gapi.analytics.report.Data` component to
   * return a promise the is fulfilled with the value returned by the API.
   * @param {Object} params The request parameters.
   * @return {Promise} A promise.
   */
  function query(params) {
    return new Promise(function(resolve, reject) {
      var data = new gapi.analytics.report.Data({query: params});
      data.once('success', function(response) { resolve(response); })
          .once('error', function(response) { reject(response); })
          .execute();
    });
  }


  /**
   * Create a new canvas inside the specified element. Set it to be the width
   * and height of its container.
   * @param {string} id The id attribute of the element to host the canvas.
   * @return {RenderingContext} The 2D canvas context.
   */
  function makeCanvas(id) {
    var container = document.getElementById(id);
    var canvas = document.createElement('canvas');
    var ctx = canvas.getContext('2d');

    container.innerHTML = '';
    canvas.width = container.offsetWidth;
    canvas.height = container.offsetHeight;
    container.appendChild(canvas);

    return ctx;
  }


  /**
   * Create a visual legend inside the specified element based off of a
   * Chart.js dataset.
   * @param {string} id The id attribute of the element to host the legend.
   * @param {Array.<Object>} items A list of labels and colors for the legend.
   */
  function generateLegend(id, items) {
    var legend = document.getElementById(id);
    legend.innerHTML = items.map(function(item) {
      var color = item.color || item.fillColor;
      var label = item.label;
      return '<li><i style="background:' + color + '"></i>' +
          escapeHtml(label) + '</li>';
    }).join('');
  }


  // Set some global Chart.js defaults.
  Chart.defaults.global.animationSteps = 60;
  Chart.defaults.global.animationEasing = 'easeInOutQuart';
  Chart.defaults.global.responsive = true;
  Chart.defaults.global.maintainAspectRatio = false;


  /**
   * Escapes a potentially unsafe HTML string.
   * @param {string} str An string that may contain HTML entities.
   * @return {string} The HTML-escaped string.
   */
  function escapeHtml(str) {
    var div = document.createElement('div');
    div.appendChild(document.createTextNode(str));
    return div.innerHTML;
  }

});
</script>
<script type="text/javascript">

    var modal = document.getElementById('popUp');

    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption1");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    var span = document.getElementsByClassName("close1")[0];

    span.onclick = function() { 
      modal.style.display = "none";
    }
</script>

<!-- script para mensaje de permisos 
la variable messages es llada desde el archivo mixins.py del def dispatch-->
<script type="text/javascript">
  {% if messages %}
    var html_mensaje = '';
    {% for mensaje in messages %}
      html_mensaje += '{{ mensaje }}';
    {% endfor %}
    sweetError(html_mensaje);
  {% endif %}
</script>
{% block extrajs %}
{% endblock extrajs %}
</body>
</html>